* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ECE3CE;
    --text-color: #3A4D39;
    --green: #739072;
    --darker-green: #4F6F52;
    --margin: 20px;
    --radius: 20px;
}

body {
    background-color: var(--bg-color);
}

a {text-decoration: none; color:crimson}

/* Szövegek */
h1 {
    color: var(--bg-color);
    font-weight: bold;
    font-variant: small-caps;
    font-size: 45px;
}

h2 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: var(--margin);

}

h3 {
    margin: auto;
    text-align: center;
    font-size: 25px;
    text-decoration: wavy underline;
    text-decoration-color: var(--green);
    margin-bottom: var(--margin);
}

ol {
    margin-bottom: var(--margin);
}

p, ol, .nagyul {
    margin: auto;
    text-align: justify;
    width: 50%;
    margin-bottom: var(--margin);
    font-weight: bold;
}

ol {
    font-weight: normal;
}

ol > li {
    font-size: larger;
    font-weight: bold;
}

ul, li {
    font-size:medium;
    margin-left: 15px;
    font-weight: normal;
}

nav {
    width: 100%;
    background-color: var(--darker-green);
    color: var(--bg-color);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 90px;
    border-radius: 0 0 var(--radius) var(--radius);
}

.nav-title {
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: var(--bg-color);
}

.nav-links {
    list-style: none;
    justify-self: flex-end;
    display: flex;
    /* space evenly */
    justify-content:right;
    gap: 10px;
    width: 50%;
    border-radius: var(--radius);
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.nav-link:hover {
    background-color: var(--green);
    border-radius: 5px;
}

header {
    padding: 50vh 0;
    text-align: center;
    background-image: url("./tehen.png");
    background-repeat: no-repeat;
    /* image is half outside of the screen so only the cows head is shown */
    background-position: -10% 100%;
    background-size: 50%;

    height: 100vh;
    background-color: var(--green);
}

#header-cim {
    margin-bottom: 20px;
}

#header-leiras {
    margin: auto;
    width: 50%;
    text-align: center;
    color: var(--bg-color);
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    margin-top: 120px;
}
.content h1 {
    color: var(--text-color);
    text-align: center;
}

table, th, td {
    border: 5px solid var(--darker-green);
    border-collapse: collapse;
    margin: auto;
    width: 50%;
    padding: 10px;


}

hr {
    border: 1px dashed var(--darker-green);
    width: 80%;
    margin: auto;
}
/* A kártya bal oldalán van a kép, a jobb oldalán a szöveg */
.kartya {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 300px;
    padding: 20px;
    border-radius: var(--radius);
    background-color: var(--green);
    color: var(--bg-color);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
}
.kartya:hover {
    background-color:antiquewhite;
    color: var(--text-color);
    border: 5px solid var(--text-color);
    cursor: pointer;
}
figure.kartyakep {
    margin: 0;
    width: 50%;
    height: 100%;
    margin-right: 20px;
}
.kartyakep {
    width: 50%;
    height: 100%;
    margin-right: 20px;
}
.kartyaszoveg {
    width: 50%;
    margin-left: 20px;
}
.kartyaszoveg p {
    margin: 0;
    text-align: justify;
    width: 100%;

}

.kep {
    border-radius: var(--radius);
    background-color: var(--darker-green);
    width:320px;
    height: auto;
    display: block;
    float: right;
}

.kep img {
    border-radius: var(--radius);
    width: 100%;
    height: auto;
}

.kep figcaption {
    text-align: center;
    color: var(--bg-color);
    font-weight: bold;
    padding: 10px;
}

.gomb {
    display: block;
    margin: auto;
    background-color: var(--darker-green);
    color: white;
    padding: 10px;
    width: fit-content;
    border-radius: var(--radius);

}

.gomb:hover {
    background-color:antiquewhite;
    color: var(--text-color);
    border: 5px solid var(--text-color);
}
/*.kartya {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 20px;
    border-radius: var(--radius);
    background-color: var(--green);
    color: var(--bg-color);
}*/